{% extends "layout/base.html" %}

{% block title %}Panneautage - Dashboard{% endblock %}

{% block content %}

                <!-- TABLE CONTAINER -->
                <div class="stats-container">
                    <div class="row g-4">
                        <!-- Card 1: Utilisateurs -->
                        {% if perms.myapp.view_user %}
                        <div class="col-md-3">
                            <div class="stat-card">
                                <div class="stat-header">
                                     <div class="stat-icon">
                                        <i class="bi bi-people-fill"></i>
                                    </div>
                                    <div class="stat-title">Utilisateurs</div>
                                </div>
                                <div class="stat-value"> {{ total_utilisateurs }} </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Card 2: Voies -->
                        {% if perms.myapp.view_voie %}
                        <div class="col-md-3">
                            <div class="stat-card">
                                <div class="stat-header">
                                    <div class="stat-icon">
                                        <i class="bi bi-signpost-2-fill"></i>
                                    </div>
                                    <div class="stat-title">Voies</div>
                                </div>
                                <div class="stat-value"> {{ total_voies }} </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Card 3: Problèmes -->
                        {% if perms.myapp.view_probleme %}
                        <div class="col-md-3">
                            <div class="stat-card">
                                <div class="stat-header">
                                    <div class="stat-icon">
                                        <i class="bi bi-sign-stop-fill"></i>
                                    </div>
                                    <div class="stat-title">Problèmes</div>
                                </div>
                                <div class="stat-value"> {{ total_problemes }} </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Card 4: Suggestions -->
                        {% if perms.myapp.view_suggestion %}
                        <div class="col-md-3">
                            <div class="stat-card">
                                <div class="stat-header">
                                    <div class="stat-icon">
                                        <i class="bi bi-folder-fill"></i>
                                    </div>
                                    <div class="stat-title">Suggestions</div>
                                </div>
                                <div class="stat-value"> {{ total_suggestions }} </div>
                            </div>
                        </div>
                        {% endif %}


                        {% if perms.myapp.voir_suggestion_voie_attente_cca %}
                        <div class="col-md-3">
                            <a href="{% url 'suggestion_voie_list' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-folder-fill"></i>
                                        </div>
                                        <div class="stat-title"> Desc. en attente CCA  </div>
                                    </div>
                                    <div class="stat-value">  {{ voies_en_attente_cca }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% if perms.myapp.voir_suggestion_voie_attent_mo %}
                        <div class="col-md-3">
                            <a href="{% url 'suggestion_voie_list' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-folder-fill"></i>
                                        </div>
                                        <div class="stat-title">Desc. en attente MO  </div>
                                    </div>
                                    <div class="stat-value">  {{ voies_en_attente_mo }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% if perms.myapp.voir_suggestion_voie %}
                        <div class="col-md-3">
                            <a href="{% url 'suggestion_voie_list' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-folder-fill"></i>
                                        </div>
                                        <div class="stat-title">Desc. validées  </div>
                                    </div>
                                    <div class="stat-value">  {{ voies_validees_finalement }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                    </div>

                      <div class="row g-4 mt-4 py-4">
                        {% if perms.myapp.voir_topo_attente_toponymie %}
                        <div class="col-md-3">
                            <a href="{% url 'topo_attente_topo' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-people-fill"></i>
                                        </div>
                                        <div class="stat-title"> TOPONYME. DESC. EN ATTENTE TOPONYMIE  </div>
                                    </div>
                                    <div class="stat-value"> {{ topo_retour_toponymie }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% if perms.myapp.voir_topo_attente_CS %}
                        <div class="col-md-3">
                            <a href="{% url 'topo_attente_cs' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-signpost-2-fill"></i>
                                        </div>
                                        <div class="stat-title">TOPONYME. DESC. EN ATTENTE CS </div>
                                    </div>
                                    <div class="stat-value"> {{ topo__attente_cs }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                        {% if perms.myapp.voir_topo_attente_mo %}
                        <div class="col-md-3">
                            <a href="{% url 'topo_attente_mo' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-sign-stop-fill"></i>
                                        </div>
                                        <div class="stat-title">TOPONYME. DESC. EN ATTENTE MO</div> 
                                    </div>
                                    <div class="stat-value"> {{ topo_attente_mo }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}

                         {% if perms.myapp.voir_topo_attente_CCA %}
                        <div class="col-md-3">
                            <a href="{% url 'topo_attente_coord' %}" style="text-decoration: none;">
                                <div class="stat-card">
                                    <div class="stat-header">
                                        <div class="stat-icon">
                                            <i class="bi bi-sign-stop-fill"></i>
                                        </div>
                                        <div class="stat-title">TOPONYME. DESC. EN ATTENTE CCA</div> 
                                    </div>
                                    <div class="stat-value"> {{ topo_attente_coord }} </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
          
{% endblock %}
